################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/agent
/Deployment/CustomTasks/JTranTransform/AzureDevOps/Deploy/JTranOrg.JTranTransform-0.1.0.vsix
